<% if authenticated? %>
    <%= render partial: "counselor" %>
<% else %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome</h1>
            <p>This is the Pre-College Checkin application. Login to get going.</p>

            <p><%= link_to raw("Login &raquo;"), login_url, class: "btn btn-primary btn-lg", role: "button" %></p>
        </div>
    </div>
    

<% end %>
