<table id="checkin-users-table" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Checkin Time</th>
            <th>Name</th>
            <th>AndrewID</th>
            <th>Dorm</th>
            <th>Room</th>
            <th>Phone</th>
            <th>Program</th>
            <th>Checked In By</th>
        </tr>
    </thead>
    
    <%= render partial: "checkin", collection: filter_checkins(checkin_list, params[:filter]) %>
</table>

