<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>AndrewID</th>
            <th>Dorm &amp; Room</th>
        </tr>
    </thead>
    
    <%= render partial: "checkin", collection: checkin_list.checkins %>
</table>

