<table class="table table-striped">
    <thead>
        <tr>
            <th>Checkin Time</th>
            <th>Name</th>
            <th>AndrewID</th>
            <th>Dorm</th>
            <th>Room</th>
            <th>Phone</th>
            <th>Program</th>
        </tr>
    </thead>
    
    <%= render partial: "checkin", collection: checkin_list.checkins %>
</table>

