<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" style="margin-bottom: 0;">
                <%= @checkin.checkin_session.checkin_session_type.label %> Checkin
            </h1>
            <h1 class="text-center" style="margin-top: 0">
                <small><%= @checkin.checkin_session.label %></small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="rapid-checkin-wrapper" class="col-md-12">
            <%= render( partial: "rapid_checkin",
                        object: @checkin, locals: { status: @status } ) %>
        </div>
    </div>

    <div id="checkin-session-wrapper">
        <%= render( partial: "checkin_session",
                    object: @checkin.checkin_session ) %>
    </div>

</div>
